<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<display-name>AuthenticationServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<display-name>RegistrationServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCustomerServlet</servlet-name>
		<display-name>AddCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.AddCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCustomerServlet</servlet-name>
		<display-name>EditCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.EditCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<display-name>DeleteCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.DeleteCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BestCustomerServlet</servlet-name>
		<display-name>BestCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.BestCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchFlightsServlet</servlet-name>
		<display-name>SearchFlightsServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.SearchFlightsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchResultsServlet</servlet-name>
		<display-name>SearchResultsServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.SearchResultsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditSaveServlet</servlet-name>
		<display-name>EditSaveServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.EditSaveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReservationByUIDServlet</servlet-name>
		<display-name>ReservationByUIDServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ReservationByUIDServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RevenueByCustomerServlet</servlet-name>
		<display-name>RevenueByCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.RevenueByCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RevenueByFlightServlet</servlet-name>
		<display-name>RevenueByFlightServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.RevenueByFlightServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SalesReportByMonthServlet</servlet-name>
		<display-name>SalesReportByMonthServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.SalesReportByMonthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReservationByFlightServlet</servlet-name>
		<display-name>ReservationByFlightServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ReservationByFlightServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RevenueByDestinationServlet</servlet-name>
		<display-name>RevenueByDestinationServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.RevenueByDestinationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListFlightsServlet</servlet-name>
		<display-name>ListFlightsServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ListFlightsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListFlightByAirport</servlet-name>
		<display-name>ListFlightByAirport</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ListFlightByAirport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReservedSeatsByCustomerServlet</servlet-name>
		<display-name>ReservedSeatsByCustomerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ReservedSeatsByCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FlightStatusServlet</servlet-name>
		<display-name>FlightStatusServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.FlightStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MostActiveFlightsServlet</servlet-name>
		<display-name>MostActiveFlightsServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.MostActiveFlightsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountInformation</servlet-name>
		<display-name>AccountInformation</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.AccountInformation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CurrentResrvations</servlet-name>
		<display-name>CurrentResrvations</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.CurrentResrvations</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllReservations</servlet-name>
		<display-name>AllReservations</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.AllReservations</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowSchedule</servlet-name>
		<display-name>ShowSchedule</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.ShowSchedule</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BestSellerFlight</servlet-name>
		<display-name>BestSellerFlight</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.BestSellerFlight</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPassengerServlet</servlet-name>
		<display-name>AddPassengerServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.AddPassengerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookOrderServlet</servlet-name>
		<display-name>BookOrderServlet</display-name>
		<description></description>
		<servlet-class>com.flywithme.servlets.BookOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/getAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCustomerServlet</servlet-name>
		<url-pattern>/addCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomerServlet</servlet-name>
		<url-pattern>/editCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomerServlet</servlet-name>
		<url-pattern>/deleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BestCustomerServlet</servlet-name>
		<url-pattern>/getBestCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchFlightsServlet</servlet-name>
		<url-pattern>/searchFlights</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchResultsServlet</servlet-name>
		<url-pattern>/searchResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditSaveServlet</servlet-name>
		<url-pattern>/saveEdit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationByUIDServlet</servlet-name>
		<url-pattern>/reservationByUID</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RevenueByCustomerServlet</servlet-name>
		<url-pattern>/revenueByCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RevenueByFlightServlet</servlet-name>
		<url-pattern>/revenueByFlight</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalesReportByMonthServlet</servlet-name>
		<url-pattern>/salesReportByMonth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservationByFlightServlet</servlet-name>
		<url-pattern>/reservationByFlight</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RevenueByDestinationServlet</servlet-name>
		<url-pattern>/revenueByDestination</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFlightsServlet</servlet-name>
		<url-pattern>/listFlights</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFlightByAirport</servlet-name>
		<url-pattern>/listFlightByAirport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservedSeatsByCustomerServlet</servlet-name>
		<url-pattern>/reservedSeatsByCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightStatusServlet</servlet-name>
		<url-pattern>/flightStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostActiveFlightsServlet</servlet-name>
		<url-pattern>/mostActiveFlights</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BestSellerFlight</servlet-name>
		<url-pattern>/bestSellerFlight</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSchedule</servlet-name>
		<url-pattern>/showSchedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllReservations</servlet-name>
		<url-pattern>/allReservations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CurrentResrvations</servlet-name>
		<url-pattern>/currentReservations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountInformation</servlet-name>
		<url-pattern>/accountInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPassengerServlet</servlet-name>
		<url-pattern>/addPassenger</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookOrderServlet</servlet-name>
		<url-pattern>/bookOrder</url-pattern>
	</servlet-mapping>
</web-app>
